

<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'carapp/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>CarSite - {% block title %} Welcome! {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:aboutus' %}">About Us</a>
    </li>
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:homepage' %}">Home</a>
    </li>
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:LabMembers' %}">Contact Us</a>
    </li>
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:Vehicles' %}">Vehicles</a>
    </li>
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:OrderHere' %}">Order Here</a>
    </li>
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:search' %}">Search</a>
{#    {% if user.is_authenticated %}#}
    </li>
      <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:list_of_orders' %}">Your Orders</a>
    </li>
{#    {% endif %}#}

    {% if user.is_authenticated %}
    <li class="nav-item hbar1">
      <a class="nav-link" href="{% url 'carapp:logout_here' %}">Logout</a>
    </li>
        {% else %}
        <li class="nav-item hbar1">
            <a class="nav-link" href="{% url 'carapp:login_here' %}">Login</a>
        </li>
        <li class="nav-item hbar1">
            <a class="nav-link" href="{% url 'carapp:sign_up' %}">Sign Up</a>
        </li>
        {% endif %}
  </ul>
</nav>

<div class="container">
  <h1 class="mt03 text-primary">{% block myhdg %} Welcome to our online car store {% endblock %}</h1>
    {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}!</p>
    {% endif %}
  {% block body_block %}*** {% endblock %}
</div>
<hr />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
