{% extends 'base.html' %}
{% block body_block %}
    <h2>Car Details</h2>

    {% if cartype %}
        <h2>Brand: {{ cartype }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Car Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>Instock</th>
            </tr>
            </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle }}</td>
                <td>{{ vehicle.car_type }}</td>
                <td>{{ vehicle.car_price }}</td>
                <td>{{ vehicle.inventory }}</td>
                <td>{{ vehicle.instock }}</td>
            </tr>
        {% endfor %}

        </tbody>
        </table>
    {% else %}
        <p class="test-danger">Page Not Found</p>
    {% endif %}
<p><a class="btn btn-primary" href="{% url 'carapp:OrderHere' %}">Place a new order</a></p>
{#    <a href={% url 'carapp:homepage' %}>Go to Home Page</a>#}
{% endblock %}
