{% extends 'base.html' %}

{% block body_block %}
{% if orders %}
    <h2 class="text-primary">Orders placed by {{ request.user.username }}</h2>
    <ul>
        {% for order in orders %}
            <li>{{ order }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ message }}</p>
{% endif %}


    <!-- homepage.html or any other template -->
{% if request.session.session_expired_message %}
    <!-- Hidden element to store the session message -->
    <div style="display: none;" id="sessionExpiredMessage">{{ request.session.session_expired_message }}</div>
{% endif %}

<!-- Your other HTML content -->

<!-- JavaScript to display the message after 1 hour -->
<script>
    // Get the session message from the hidden element
    const sessionExpiredMessage = document.getElementById('sessionExpiredMessage');

    // If the session message exists, set a timeout to display it after 1 hour (3600000 milliseconds)
    if (sessionExpiredMessage) {
        setTimeout(function () {
            alert(sessionExpiredMessage.textContent);
        }, 60000);
    }
</script>

{% endblock %}