{% extends 'base.html' %}

{% block body_block %}
  <h2>Place your order here</h2>
  <p>You can place your order here.</p>
    <form method="post" action="{% url 'carapp:OrderHere' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-primary" type="submit">Order</button>
    </form>

    {% if msg %}
        <p class="text-success">{{ msg }}</p>
    {% endif %}

    <h2>Available Vehicles</h2>

    <ul>
        {% for vehicle in vehiclelist %}
            <li><a href="/{{vehicle.car_type.id}}">{{ vehicle.car_name }}</a>   {{ vehicle.inventory }}</li>
        {% endfor %}
    </ul>

{% endblock %}