{% extends 'base.html' %}
{% block body_block %}
 <form method="post" action="{% url 'carapp:search' %}">
 <h2>Vehicle Search</h2>
    {% csrf_token %}
    <label for="selected_vehicle">Select a vehicle:</label>
    <select name="selected_vehicle" id="selected_vehicle">
        {% for vehicle in vehicles %}
            <option value="{{ vehicle.id }}">{{ vehicle.car_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
    </form>

    {% if selected_vehicle %}
        <h1><a href="/{{selected_vehicle.car_type.id}}">{{ selected_vehicle.car_name }}</a></h1>
        <p>Price: ${{ selected_vehicle.car_price }}</p>
    {% endif %}
<p><a class="btn btn-primary" href="{% url 'carapp:OrderHere' %}">Place a new order</a></p>
{% endblock %}