{% extends 'base.html' %}
{% block body_block %}
<h2>Available Vehicles</h2>
  <table class="table">
  <thead>
    <tr>
      <th>Car Name</th>
      <th>Car Price</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
      {% if car.instock %}
      <tr>
        <td>{{ car.car_name }}</td>
        <td>${{ car.car_price }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
  <p><a class="btn btn-primary" href="{% url 'carapp:OrderHere' %}">Place a new order</a></p>
{% endblock %}
